{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript",
    "plugin:compat/recommended"
  ],
  "ignorePatterns": ["_*", "webpack.config.js", "examples/", "assembly_script", "node_modules", "build"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "max-len": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "no-param-reassign": 0,
    "max-classes-per-file": 0,
    "no-underscore-dangle": 0,
    "no-restricted-syntax": 0,
    "no-restricted-globals": 0,
    "class-methods-use-this": 1,

    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/naming-convention": 0,
    "@typescript-eslint/no-shadow": 1,
    "@typescript-eslint/no-unused-vars": 1
  },
  "env": {
    "browser": true
  },
  "globals": {
    "describe": true,
    "it": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".json"]
      }
    }
  }
}
