{
  "plugins": ["lodash", "sonarjs"],
  "extends": [
    "airbnb",
    "plugin:lodash/recommended",
    "plugin:sonarjs/recommended"
  ],
  "ignorePatterns": ["_*", "webpack.config.js", "examples/", "static/", "example*.js"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "func-names": 0,
    "no-multi-assign": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "no-continue": 0,
    "max-len": 0,
    "import/extensions": 0,
    "no-unused-vars": 1,
    "valid-jsdoc": 1,
    "no-mixed-operators": 0,
    "lodash/prefer-lodash-typecheck": 0,
    "lodash/prefer-get": 0,
    "lodash/prefer-noop": 0,
    "lodash/prefer-constant": 0,
    "lodash/prefer-lodash-method": 0
  },
  "env": {
    "browser": true
  },
  "globals": {
    "describe": true,
    "it": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".json"]
      }
    }
  }
}
